<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1" />
    <title>Sensor Info</title>
</head>

<div class="content">
    <h1 class="siteTitle">
        Recorded Sensor Events
    </h1>
    <table class="schedule">
        <tr>
            <th>SensorID</th>
            <th>Value</th>

        </tr>
        {% for sensentry in data %}
        <tr>
            <td>{{sensentry['SensorID']}}</td>
            <td>{{sensentry['SensorValue']}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>

